@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global Styles */
body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
	background-color: black;
	font-family: "Saira Extra Condensed", sans-serif;
	font-weight: 400;
}
/* Header */
header {
	text-align: center;
	display: block;
}
header .profileLogo .logoText {
	background-color: rgba(208,207,207,1.00);
	width: 100%;
	text-align: center;
}
header .logoText span {
	width: 80px;
	height: 40px;
	font-family: "Saira Extra Condensed", sans-serif;
	font-weight: 700;
	font-size: 45px;
	line-height: 72px;
}
.byLine {
	margin-top: -10px;
	color: white;
}
.ice_i {
	color: #2BAF43;
}
.ice_c {
	color: #00B7FC;	
}
.ice_e {
	color: #964BDB;
}
header .profilePhoto {
	width: 259px;
	height: 259px;
	clear: both;
	display: inline-flex;
}
/* Main Content */
.mainContent {
	display: block;
}
.didYouKnow{
	text-align: justify;
	display: block;
}
.didYouKnow h1 {
	text-align: center;
	font-family: "Saira Extra Condensed", sans-serif;
	font-weight: 400;
	color: white;
	font-size: 30px;
	line-height: 24px;
}
hr {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
	margin: 50px 0 50px 0;
}
.didYouKnow p {
	font-family: "Saira Extra Condensed", sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	overflow-y: auto;
}
.didYouKnow li {
	font-family: "Saira Extra Condensed", sans-serif;
	color: rgba(146,146,146,1.00)
}
.source {
	text-align: right;
	margin-top: -20px;
}
.link {
	color: #2BAF43;
	text-decoration: none;
}
.link:hover {
	color: #964BDB;
	text-decoration: underline;
}
.link:active {
	color: #2BAF43;	
	text-decoration: underline;
}
.ytcontainer h3 {
	margin-top: -25px;
	color: white;
}
.ytcontainer h3:hover {
	color: red;
}
.ytcontainer h3:active {
	color: red;
}
.popup {
	height: 0;
	visibility: hidden;
	transform: scale(0.1);
	transition: transform 0.4s, top 0.4s;
}
.popup iframe {
	width: 100%;
	height: 315px;
}
.open-popup {
	visibility: visible;
	transform: scale(1);
	height: 18em;	
}
.closebtn {
	font-weight: 700;
	font-size: 20px;
	color: #C3C3C3;
	margin: 0 0 5px 10px;
}
.car-banner img {
	width: 100%;
}
.car-banner p {
	margin: -5px 0 0 10px;
}
/* Footer */
.footerKey {
	font-size: 12px;
	color: rgba(181,178,178,1.00);
}
footer .footerDisclaimer {
	font-family: "Saira Extra Condensed", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerDisclaimer span {
	color: rgba(181,178,178,1.00);
	font-weight: 400;
}
footer .footerNote {
	font-family: "Saira Extra Condensed", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerNote span {
	color: rgba(181,178,178,1.00);
	font-weight: 400;
}

/* Mobile */
@media only screen and (min-width : 285px) and (max-width : 480px) {
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoText {
	display: inline-block;
}
header .profilePhoto {
	display: inline-flex;
}
header .profileHeader {
	text-align: center;
	margin-top: 10%;
}
header .profileHeader p {
	text-align: justify;
}
/* Footer */
footer {
	display: block;
	text-align: center;
	font-family: "Saira Extra Condensed", sans-serif;
}
}

/* Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
	font-family: "Saira Extra Condensed", sans-serif;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
	margin-top: 5%;
	display: inline-flex;
}
header .profileHeader {
	text-align: left;
	margin-top: 7%;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: "Saira Extra Condensed", sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: "Saira Extra Condensed", sans-serif;
}
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
header .profileLogo .logoText {
	float: left;
	margin-bottom: 50px;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
	display: inline-flex;
}
header .profileHeader {
	text-align: left;
	padding-top: 10%;
}
/* Footer */
footer .footerDisclaimer {
	float: right;
	margin-left: 3%;
	font-family: "Saira Extra Condensed", sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: "Saira Extra Condensed", sans-serif;
}
}
